// textures
$main-background: rgb(255, 250, 230) url("../assets/textures/scroll2.webp") no-repeat;
$brush-background: url("../assets/textures/brush.webp") no-repeat 0 0;
$water-background: url("../assets/textures/watercolor.webp") no-repeat 0 0;

// images
$air-ring-img: url("../assets/icons/air.png");
$water-ring-img: url("../assets/icons/water.png");
$earth-ring-img: url("../assets/icons/earth.png");
$fire-ring-img: url("../assets/icons/fire.png");
$void-ring-img: url("../assets/icons/void.png");
