.l5r4.item {
  .window-content {
    gap: 0.5rem;
    overflow: auto;
  }

  .header-fields > h1 {
    margin: 0;

    input {
      height: auto;
    }
  }

  .sheet-content > h4 {
    margin: 1rem 0 0.5rem;

    &.prose-title {
      margin-block-end: 0;
    }
  }

  .button {
    transition: all 150ms ease-out;
    cursor: pointer;
    display: inline-flex;

    &:hover {
      opacity: 1;
      filter: brightness(1.15);
    }

    &:active {
      transform: scale(0.98);
      filter: brightness(0.95);
    }
  }

  // Prose Editor
  .editor {
    min-height: 200px;
  }

  prose-mirror {
    border-block-end: var(--sidebar-separator);
  }

  // Active Effects
  .effects-list {
    margin: 0;
    padding: 0;

    .effect {
      margin-block-start: 0.5rem;
    }
  }

  .effect-controls {
    flex-wrap: nowrap;
  }
}
